sudo: required
dist: trusty
language: java
jdk:
  - oraclejdk8
addons:
  apt:
    packages:
      - oracle-java8-installer
# might be useful to push reports to an S3 bucket
#  artifacts:
#    paths:
#      - $(find $HOME -name surefire-reports | tr "\n" ":")
#      - $(find $HOME -name failsafe-reports | tr "\n" ":")
#  s3_region: 'us-west-2'
cache:
  directories:
    - $HOME/.m2
install:
  # The Maven install provided by Travis is outdated, use Maven wrapper to get the latest version
  - mvn -N io.takari:maven:wrapper
  - ./mvnw -v
  # first run to download all the Maven dependencies without logging
  - travis_wait ./mvnw $BUILD_OPTIONS -U -B -q -Dcheckstyle.skip -DskipTests=true install
before_script:
script:
  - ./mvnw $BUILD_OPTIONS -DskipDistro=true checkstyle:check
    && BUILD_OPTIONS+=' -Dcheckstyle.skip'
    && ./mvnw $BUILD_OPTIONS clean install
before_cache:
  # Do not put Hibernate Validator artifacts into the cache
  - rm -r $HOME/.m2/repository/org/hibernate/validator/ $HOME/.m2/repository/org/hibernate/hibernate-validator*
