<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">

    <module name="RegexpHeader">
        <property name="headerFile" value="${checkstyle.header.file}"/>
    </module>

    <module name="TreeWalker">
        <property name="cacheFile" value="${checkstyle.cache.file}"/>

        <!-- Checks for imports -->
        <module name="AvoidStarImport"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>
        <module name="IllegalImport">
            <property name="illegalPkgs" value="junit.framework"/>
        </module>

        <!-- Modifier Checks  -->
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>

        <!-- Checks for blocks. You know, those {}'s -->
        <module name="LeftCurly"/>
        <module name="RightCurly">
            <property name="option" value="alone"/>
        </module>

        <!-- Checks for common coding problems -->
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="IllegalInstantiation"/>
        <module name="RedundantThrows">
            <property name="allowUnchecked" value="true"/>
        </module>

        <!-- Miscellaneous other checks.  -->
        <module name="UpperEll"/>
        <module name="PackageAnnotation"/>
        <module name="CovariantEquals"/>
        <module name="ArrayTypeStyle"/>
        <module name="DefaultComesLast"/>
    </module>

</module>