<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Hibernate Validator, declare and validate application constraints
  ~
  ~ License: Apache License, Version 2.0
  ~ See the license.txt file in the root directory or <http://www.apache.org/licenses/LICENSE-2.0>.
  -->
<module xmlns="urn:jboss:module:1.3" name="org.javamoney.moneta" slot="main">
    <resources>
        <resource-root path="moneta-core-${version.org.javamoney.moneta}.jar"  />
        <resource-root path="moneta-convert-${version.org.javamoney.moneta}.jar" />
        <resource-root path="moneta-convert-imf-${version.org.javamoney.moneta}.jar" />
        <resource-root path="moneta-convert-ecb-${version.org.javamoney.moneta}.jar" />
    </resources>

    <dependencies>
        <module name="javax.money.api" />
        <module name="javax.annotation.api" />
    </dependencies>
</module>
