<?xml version="1.0" encoding="UTF-8"?>
<!--
	SPDX-License-Identifier: Apache-2.0
	Copyright Red Hat Inc. and Hibernate Authors
-->
<module xmlns="urn:jboss:module:1.3" name="org.javamoney.moneta" slot="main">
	<resources>
		<resource-root path="moneta-core-${version.org.javamoney.moneta}.jar" />
	</resources>

	<dependencies>
		<module name="javax.money.api" />
		<module name="jakarta.annotation.api" />
	</dependencies>
</module>
