<?xml version="1.0" encoding="UTF-8"?>
<!--
	SPDX-License-Identifier: Apache-2.0
	Copyright Red Hat Inc. and Hibernate Authors
-->
<module xmlns="urn:jboss:module:1.9" name="javafx.api">
	<resources>
		<!-- we only include base as that's what we need -->
		<resource-root path="javafx-base-${version.org.openjfx}.jar" />
		<resource-root path="javafx-base-${version.org.openjfx}-${javafx.platform}.jar" />
	</resources>
</module>
